/* Design System */
:root {
    /* Colors */
    --red-highlight: #D2483D;
    --light-grey: #F3F3F3;
    --black: #000000;
    --white: #FFFFFF;

    /* Text configuration */
    --body-font: 'Montserrat';
    --body-highlight-font: 'Montserrat';
    --header-font: 'Bebas Neue';
    --title-font: 'Bebas Neue';

    --body-font-weight: 400;
    --body-highlight-font-weight: 600;
    --header-font-weight: 400;
    --title-font-weight: 400;

    --body-font-size: 1.25rem;
    --body-highlight-font-size: 1.25rem;
    --header-font-size: 4.5rem;
    --title-font-size: 1.5rem;

    --body-line-height: 1.5rem;
    --body-highlight-line-height: 1.5rem;
    --header-line-height: 5.375rem;
    --title-line-height: 1.75rem;
}